.bodyText {
  max-width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .comic {
    width: 100%;
  }
  .bodyText {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .bodyText {
    max-width: 80%;
  }
}
.image-wrapper {
  overflow-x: auto;
  margin: auto;
}
.navigation-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
}
#left-image-overlay {
  position: static;
  height: 100%;
  width: 25%;
  background-color: blue;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
